---
title: "TryHackMe Advent of Code 2023"
description: "Keep track of my journey as I complete Cyber Security challenges for 24 days until Christmas."
category: "security"
image: "/assets/images/blog_posts/security/tryhackme_adventOfCode.png"
blog: "projects/advent_of_code"
date: "2023-12-02"
completed: "no"
---

# COMP6841 CTF 2023