---
title: "Network Enumeration with Nmap Guide"
description: "An article guide on how both attackers and defenders can use Nmap to enumerate a network."
category: "security"
image: "/assets/images/blog_posts/security/nmap.png"
blog: "projects/nmap"
date: "2023-11-27"
completed: "no"
---

# Network Enumeration with Nmap